<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" type='text/css' media='screen' href="bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/produto.css">
    <link rel="stylesheet" href="css/jquery.dataTables.css">
    <link rel="stylesheet" href="bootstrap-icons/font/bootstrap-icons.css">
</head>

<body>
    <%- include('template/navbar.ejs') %>
        <%- include('modal/produto.ejs') %>

            <main class="mainProduto" id="mainProduct">
                <div class="container">
                    <div class="row">
                        <div class="col-12" id="msgAction"></div>
                        <div class="col-md-2 col-sm-12">
                            <button type="button" class="btn btn-danger col-12 mb-3" data-bs-toggle="modal"
                                data-bs-target="#modalProduto" onclick="titleModal(1); getCategory()">
                                <i class="bi bi-plus-circle"></i> Novo
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <button type="button" class="btn btn-primary col-12 mb-3" data-bs-toggle="modal"
                                data-bs-target="#categoryNew">
                                <i class="bi bi-plus-circle"></i> Categoria
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <button type="button" class="btn btn-warning col-12 mb-3" disabled>
                                <i class="bi bi-exclamation-diamond"></i> Alerta
                            </button>
                        </div>
                    </div>

                    <hr>
                    <table id="tableProduto" class="table table-hover table-dark table-striped">
                        <thead>
                            <tr>
                                <th>Categoria</th>
                                <th>Nome</th>
                                <th>Marca</th>
                                <th>dt_fabricacao</th>
                                <th>dt_validade</th>
                                <th>V. Compra</th>
                                <th>V. Venda</th>
                                <th>Unid.</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Categoria</th>
                                <th>Nome</th>
                                <th>Marca</th>
                                <th>dt_fabricacao</th>
                                <th>dt_validade</th>
                                <th>V. Compra</th>
                                <th>V. Venda</th>
                                <th>Unid.</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </main>

            <script src="jquery/dist/jquery.js"></script>
            <script src="js/maskMoney.js"></script>
            <script src="js/jquery.dataTables.js"></script>
            <script src="bootstrap/dist/js/bootstrap.js"></script>
            <script src="js/produto.js"></script>
            <script src="js/alerts.js"></script>
</body>

</html>