<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" type='text/css' media='screen' href="bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/produto.css">
    <link rel="stylesheet" href="css/jquery.dataTables.css">
    <link rel="stylesheet" href="bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/responsive.dataTables.css">
</head>

<body>
    <%- include('template/navbar.ejs') %>
        <%- include('modal/produto.ejs') %>

            <main class="mainProduto" id="mainProduct">
                <div class="container">
                    <div class="row">
                        <hr>
                        <div class="col-12" id="msgAction"></div>
                        <div class="col-md-2 col-sm-12 mb-3"><h2 class="text-center">ESTOQUE</h2></div>
                        <div class="col-md-2 col-sm-12">
                            <button type="button" class="btn btn-danger col-12 mb-3" data-bs-toggle="modal"
                                data-bs-target="#modalProduto" onclick="titleModal(1); getCategory()">
                                <i class="bi bi-plus-circle"></i> Novo
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <button type="button" class="btn btn-primary col-12 mb-3" data-bs-toggle="modal" onclick="addCategoria()"
                                data-bs-target="#categoryNew">
                                <i class="bi bi-plus-circle"></i> Categoria
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <button type="button" class="btn btn-warning col-12 mb-3" disabled>
                                <i class="bi bi-exclamation-diamond"></i> Alerta
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <button type="button" class="btn btn-outline-dark mb-3 col-12" id="colorDark" onclick="colorDark(this.id)"><i class="bi bi-palette-fill"></i> Tabela Escura</button>
                            <button type="button" class="btn btn-outline-danger d-none mb-3 col-12" id="colorlight" onclick="colorLight(this.id)"><i class="iconLight bi bi-palette-fill"></i> Tabela Clara</button>
                        </div>
                    </div>

                    <hr>
                    <table id="tableProduto" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Categoria</th>
                                <th>Nome</th>
                                <th>Marca</th>
                                <th>Dt. Validade</th>
                                <th>V. Compra</th>
                                <th>V. Venda</th>
                                <th>Unid.</th>
                                <th><i class="bi bi-gear-fill"></i> Configuração</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="text-center">
                                <th>Categoria</th>
                                <th>Nome</th>
                                <th>Marca</th>
                                <th>Dt. Validade</th>
                                <th>V. Compra</th>
                                <th>V. Venda</th>
                                <th>Unid.</th>
                                <th><i class="bi bi-gear-fill"></i> Configuração</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </main>

            <script src="jquery/dist/jquery.js"></script>
            <script src="js/maskMoney.js"></script>
            <script src="js/jquery.dataTables.js"></script>
            <script src="js/dataTables.responsive.js"></script>
            <script src="bootstrap/dist/js/bootstrap.js"></script>
            <script src="js/produto.js"></script>
            <script src="js/alerts.js"></script>
            <script src="js/global.js"></script>
</body>

</html>